/* Contact Us Form */

.container input[type=text], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 6px 50px 20px 10px;
    resize: vertical;
}

.container input[type=submit],[type=reset] {
    background-color:#104E8B;
    color: #f2f2f2;
    font-size:20px;
    font-weight:500; 
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.container input[type=submit]{
	margin:6px 50px 20px 10px;
	display:block;
	width:100%;
}

.container input[type=reset]{
	margin:6px 50px 20px 10px;
	display:block;
	width:100%;
}

.container input[type=submit]:hover, [type=reset]:hover  {
    background-color: #f2f2f2;
    color:#104E8B;
    border:1px solid #104E8B; 
}

.container {
	width:80%;
	margin:-10% auto -22.5% auto;
	border-radius: 5px;
    background-color: #f4f4f4;
    padding: 5px 50px 15px 40px;
}

h1 {
	color:#104E8B;
	text-align:center;
}